.design-presentation-wrapper {
  top: 0;
  left: 0;
}

.design-scaler {
  z-index: 1;
}

.design-scaler-wrapper {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.design-list-item .design-event {
  top: $gl-padding;
  right: $gl-padding;
}

.design-checkbox {
  position: absolute;
  top: $gl-padding;
  left: 30px;
}

.image-notes {
  overflow-y: scroll;
  padding: 0 $gl-padding;
  padding-top: 50px;
  background-color: $white-light;
  flex-shrink: 0;
  min-width: 400px;
  flex-basis: 28%;

  .badge.badge-pill {
    margin-left: $gl-padding;
    background-color: $blue-400;
    color: $white-light;
    border: $white-light 1px solid;
    min-height: 28px;
    padding: 7px 10px;
    border-radius: $gl-padding;
  }

  .design-discussion {
    margin: $gl-padding 0;

    &::before {
      content: '';
      border-left: 1px solid $gray-200;
      position: absolute;
      left: 28px;
      top: -18px;
      height: 18px;
    }

    .design-note {
      padding: $gl-padding;
      list-style: none;

      a {
        color: inherit;
      }

      .note-text a {
        color: $blue-600;
      }
    }

    .reply-wrapper {
      padding: $gl-padding;
    }
  }

  .reply-wrapper {
    border-top: 1px solid $border-color;
  }

  .new-discussion-disclaimer {
    line-height: 20px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .design-detail {
    overflow-y: scroll;
  }

  .image-notes {
    overflow-y: auto;
    min-width: 100%;
    flex-grow: 1;
    flex-basis: auto;
  }
}
